/* -------------------- Responsive Styles -------------------- */

@media (max-width: 400px) {
  .date-picker-wrapper {
    width: 100% !important;
  }
  .form-control {
    width: 100% !important;
  }
}

/* Mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }

  .banner-cont-wrap span {
    font-size: 24px;
  }

  .how-it-works-big-tit {
    font-size: 36px;
  }

  .why-choose-us-tit-wrap h3,
  .why-choose-us-tit-wrap p {
    text-align: center;
  }

  .nav-options-links-wrap {
    flex-direction: column;
    gap: 20px;
  }

  .product-listing-card {
    max-width: 100%;
  }

  .product-listing-card .card-body {
    padding: 20px 0px;
  }

  .Product-Listing-Component-card-img {
    height: 220px;
  }

  .customer-feedback-sec-tit-wrap h2 {
    max-width: 90%;
    font-size: 20px;
  }

  .social-meadia-wrap,
  .footer-email-wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer-email-wrap input,
  .footer-mail-sub-btn {
    width: 100%;
  }

  .swiper-button-prev {
    left: 20% !important;
    right: 20% !important;
  }

  .swiper-button-next {
    right: -20% !important;
    right: 20% !important;
  }

  .social-meadia-wrap {
    flex-direction: row;
  }

  .customer-feedback-card {
    height: auto;
    min-height: auto;
    margin-bottom: 120px;
  }

  .customer-feedback-card-img img {
    top: -100px;
  }

  .coin-container {
    width: 90% !important;
    max-width: auto !important;
  }

  .how-it-works-sec p {
    line-height: 130%;
    font-size: 14px;
  }

  .contact-us-form-wrap {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }

  .contact-us-form-wrap input {
    margin-bottom: 10px;
  }

  body .coin-container {
    padding: 40px 30px !important;
  }

  .signup-from-card {
    width: 90% !important;
  }

  .signin-from-card {
    width: 90% !important;
  }

  .popup-content {
    padding: 40px;
  }

  .PeriodCalculator-main-tit {
    font-size: 24px;
  }

  body .cal-btn {
    max-width: fit-content;
  }

  .about-cont-wrap {
    padding-top: 30px;
  }

  .why-choose-us-tit-wrap .primary-btn {
    margin: 0px auto;
    display: block;
    max-width: fit-content;
  }

  body .px48 {
    font-size: 30px;
  }

  body .px30 {
    font-size: 25px;
  }

  .list-unstyled li {
    font-size: 16px;
  }

  .sec-p {
    padding: 40px 0px;
  }

  .banner-sec h1 {
    font-size: 15px;
    font-family: "Montserrat" !important;
    width: 50%;
  }

  .banner-sec {
    padding: 40px 0px;
  }

  .banner-cont-wrap span {
    font-size: 12px;
  }

  .primary-btn {
    padding: 6px 20px;
    font-size: 12px;
  }

  .nav-main-logo img {
    width: 60%;
  }

  .nav-main-logo {
    height: 60px;
  }

  .hamburger-icon {
    top: auto !important;
  }

  .Why-luvwish-card {
    min-height: 200px;
    text-align: center;
    width: 80%;
    margin: 0px auto 20px;
  }

  .Why-luvwish-card p {
    margin-bottom: 0px;
  }

  body .how-its-work-main-tit {
    margin-bottom: 20px !important;
    font-size: 30px;
  }

  body .how-it-works-big-tit {
    padding-top: 0px !important;
  }

  .arow-img {
    display: grid;
    place-content: center;
  }

  .arow-img img {
    height: 250px;
  }

  .footer-sec {
    padding: 40px 0px;
  }

  .product-listing-main-sec-iiner-left-card {
    width: 80%;
    margin: 0px auto;
  }

  .product-listing-main-sec-iiner-left-card h3 {
    font-size: 25px;
  }

  .Product-Listing-Component-card-img {
    margin: 0px auto;
  }

  body .banner-cont-wrap h1 {
    font-family: "Montserrat", sans-serif !important;
    font-size: 15px !important;
  }

  body .banner-cont-wrap .primary-btn {
    font-family: "Montserrat", sans-serif !important;
    font-size: 8px;
  }

  .Why-luvwish-card-tit{
    font-size: 20px !important;
  }

  .Why-luvwish-card p{
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
  }

  .product-listing-card {
    width: fit-content;
  }

  .nav-options-links-wrap {
    gap: 40px;
  }

  .Why-luvwish-card-tit {
    font-size: 24px;
  }

  .how-it-works-big-tit {
    font-size: 48px;
  }

  .Product-Listing-Component-card-img {
    height: 260px;
  }

  .customer-feedback-card {
    padding: 20px;
  }

  .about-us-sec-two p {
    font-size: 8px !important;
    margin-bottom: 4px;
  }

  .pink-span {
    font-size: 8px;
  }

  .about-cont-wrap {
    padding-top: 20px;
  }

  .about-img {
    display: grid;
    place-content: end;
    height: 100%;
  }

  .about-us-sec-two .row > * {
    padding: 0px 8px;
  }

  .about-us-sec {
    padding-bottom: 10px;
  }

  .about-us-sec-tit-wrap h3 {
    font-size: 20px;
  }

  .about-us-sec-tit-wrap P {
    font-size: 10px;
  }

  .Product-Listing-Component-card-img {
    margin: 0px auto 10px;
  }
}

/* Small laptops (max-width: 992px) */
@media (max-width: 992px) {
  .nav-options-links-wrap {
    gap: 50px;
  }

  .about-us-sec-tit-wrap {
    padding: 0 15px;
  }

  .product-listing-card {
    max-width: 90%;
  }

  .Product-Listing-Component-card-img {
    height: 280px;
  }

  .customer-feedback-sec-tit-wrap h2 {
    max-width: 60%;
  }

  .product-listing-card .card-body {
    padding: 20px 20px;
  }
}

@media (max-width: 992px) {
  .product-listing-main-sec-iiner-left-card {
    margin-bottom: 30px;
  }

  .banner-cont-wrap h1 {
    font-family: "Montserrat", sans-serif !important;
    font-size: 36px !important;
  }

  .banner-cont-wrap .primary-btn {
    font-family: "Montserrat", sans-serif !important;
    font-size: 12px;
  }
}
